extends layout
block landingHeader
block content
  div(class="container")
    div(class="card-deck bg-dark")
      div(class="card bg-dark mb-4 shadow-sm")
        div(class="card-header")
          h1= result.title
        div(class="card-body")
          p= result.content
          if result.image
            img(src=result.image class="img-responsive rounded shadow-sm")
          br
          hr(class="bg-secondary")
          p(class="font-weight-bold")= result.author
          if(result.edited == true)
            p(class="font-italic") edited: #{prettyDate(result.updatedAt)}
          p Created: #{prettyDate(result.createdAt)}
          if session.username == result.author
            div(class="row")
              div(class="col-sm-2")
                a(href= "/messages/" + result._id + "/update" class="btn btn-outline-info") Edit message
              div(class="col-sm")
                form(action='/messages/' + result._id, method='POST')
                  button(type="submit" class="btn btn-outline-warning") Delete message  
              br
              br
          div(class="card-body border-top border-secondary")
            div(class="form-group")
            form(action='/messages/' + result._id + '/comments', method='POST')
              div(class="card-body bg-dark shadow-sm border")
                label Comment:
                textarea(type="text" name="content" placeholder="" class="form-control form-control-sm bg-dark form-textarea" maxlength = "500")
                label= "Author: " + session.username
                input(type="hidden" name="author" placeholder="" value=session.username class="form-control form-control-sm bg-dark")
                br
                button(type="submit" class="btn btn-outline-success btn-sm") Comment
            br
            hr(class="bg-secondary")
            h4 Comments:
            ul(class="commentList")
            each val in result.comments
              li(class="border-bottom border-secondary commentList")
                p(class="font-weight-bold")= val.author
                p= val.content
                p #{prettyDate(val.updatedAt)}
            else
              p No comments
          br
          

